.stats {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.stat {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  color: var(--ocean-100);
}

.stat_number {
  font-family: var(--heading);
  font-size: var(--text-2xl);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stat_label {
  font-family: var(--heading);
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 2px rgba(134, 221, 255, 0.404) dashed;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 768px) {
  .stat_number {
    font-size: var(--text-xl);
  }

  .stats {
    gap: 5px;
  }
}
